.cardFront{
    background-image: url(../../../public/images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: contain;
    width:400px;
    height: 200px;
    margin-right: 6rem;
    margin-bottom: 2rem;
}


