.cardBack{
    background-image: url(../../../public/images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    width:21rem;
    height: 15rem;
    position: relative;
    

}

#cardcvv{
    position: absolute;
    top: 4rem;
    right: 2.5rem;
   
}

@media screen and (max-width:415px) {

    .cardBack{
        margin: 1rem 0 0 0;
        position: absolute;
        right: 1.5rem;
        top: 2rem;
        width: 80%;
       
    }

    #cardcvv{
        position: absolute;
        top: 3.6rem;
        right: 2.5rem;
       
    }
    
}