.cardBack{
    background-image: url(../../../public/images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    width:360px;
    height: 200px;
    position: relative;
   
}

#cardcvv{
    position: absolute;
    bottom: 4.8rem;
    right: -7rem;
    width: 100%;
}

@media screen and (max-width:415px){
    .cardBack{
        width: 250px;
    }
}