.formDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-right: 2rem;
}



.formDetails div{
    display: flex;
    width: 100%
}

@media screen and (max-width:415px){
    .formDetails {
        display: block;
        width: auto;
        margin-right: 0;
    }
}

